.room-item {
    display: flex;
    flex-wrap: nowrap;
}

.room-details {
    flex: 2 1 auto;
}

.room-img {
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
}

.details-description {
    margin-bottom: 3rem !important;
}

.contact-person{ 
    font-weight: bold;
}


/*  Laptop */
@media (max-width: 1024px) {
    .room-item {
        flex-wrap: wrap;
    }

    .room-img {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .room-img img {
        object-fit: cover;
        width: 100%;
    }
}
