.details-location-container {
    display: flex;
    justify-content: space-between;
}
.weather-img-container {
    display: flex;
    justify-content: space-between;
}

.contact-person{ 
    font-weight: bold;
}

@media (max-width: 1024px) {

    .details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .weather-img-container, .details-location-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .confirmation-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}