/* .room-item {
    display: flex;
    flex-wrap: nowrap;
}

.room-details {
    width: 100%;
    flex: 2 1 auto;
}

.room-img {
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
}

.details-description {
    margin-bottom: 3rem !important;
}

.contact-person{ 
    font-weight: bold;
} */


/*  Laptop */
/* @media (max-width: 1024px) {
    .room-item {
        flex-wrap: wrap;
    }

    .room-img {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .room-img img {
        object-fit: cover;
        width: 100%;
    }
} */

.details-location-container {
    display: flex;
    justify-content: space-between;
}
.weather-img-container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {

    .details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .weather-img-container, .details-location-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}