.room-details {
    width: 35%;
    margin: auto;
}

/*  Laptop */
@media (max-width: 1024px) {
    .room-details {
        width: 45%;
        margin: auto;
    }
}

/*  Tablet */
@media (max-width: 768px) {
    .room-details {
        width: 60%;
        margin: auto;
    }
}


